@media screen and (max-width: 700px) {
  .Container_Menu_Burger {
    display:block;
  }

  .Menu_list {
    display:none;
  }

}
/*HOME*/

@media screen and (max-width: 1100px) {
  .Name {
    border:1px solid red;
  }

}

@media screen and (max-width: 900px) {
  .Name {
    border:1px solid blue;
  }

}

@media screen and (max-width: 800px) {
  .Name h1 {
    font-size: 1.3em;
  }
  .Name h3{
  font-size: 1em;
  }
  .Content h1{

  }

}

@media screen and (max-width: 700px) {
  .Menu {
    width: 5%;
  }

  .Content h1{
    font-size: 6.7em;
    margin-left: 15%;
    margin-top: 12%;
  }

  .Content h3{
    font-size: 1.5em;
  }

  .Name h1 {
    font-size: 1.2em;
  }
  .Name h3{
  font-size: 0.9em;
  }

}

@media screen and (max-width: 600px) {
  .Name {
    border:1px solid green;
  }
  .Content h1{
    font-size: 6.2em;
    margin-left: 5%;
  }
  .Content_container{
    margin-left: 5%;
  }
  .Content_block_up {
    width: 15em;
  }
  .Content_block_up h3{
    font-size: 1.35em;
  }
  .Content_block_down1{
    width: 11em;
  }
  .Content_block_down2{
    width: 13.5em;
  }
  .Content_block_down1 h3, .Content_block_down2 h3 {
    font-size: 1.3em;
    margin-left: 0%!important;
  }
  .Content_block_down3 h3{
    font-size: 1.3em;
  }
  .Name h1 {
    font-size: 1.05em;
  }
  .Name h3{
  font-size: 0.75em;
  }

}

@media screen and (max-width: 472px) {
  .Content h1{
    font-size: 5.5em;
    margin-left: 5%;
  }
  .Content_block_down2{
    margin-top: 0.34em;
  }
  .Content_block_down1{
    margin-top: 0.05em;
  }

}


@media screen and (max-width: 320px) {
  .Content h1{
    font-size: 5em;
    margin-left: 5%;
  }
  .Content_block_up {
    width: 15em;
  }
  .Content_block_up h3{
    font-size: 1.3em;
  }
  .Content_block_down1{
    width: 11em;
  }
  .Content_block_down2{
    margin-top: 0.30em;
    width: 13.5em;
  }
  .Content_block_down1 h3, .Content_block_down2 h3 {
    font-size: 1.3em;
    margin-left: 0%!important;
  }
  .Content_block_down3 h3{
    font-size: 1.3em;
  }
  .Name h1 {
    font-size: 1em;
  }
  .Name h3{
  font-size: 0.7em;
  }
}
